#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# vars.tf
database/vars.tf

# vi swap files
.*.swp

# module (server) directory
server/vars.tf


